
/* fira-sans-regular - greek_latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fira-sans-v9-greek_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Regular'), local('FiraSans-Regular'),
       url('../fonts/fira-sans-v9-greek_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fira-sans-v9-greek_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fira-sans-v9-greek_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fira-sans-v9-greek_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fira-sans-v9-greek_latin-regular.svg#FiraSans') format('svg'); /* Legacy iOS */
}
/* fira-sans-600 - greek_latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/fira-sans-v9-greek_latin-600.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans SemiBold'), local('FiraSans-SemiBold'),
       url('../fonts/fira-sans-v9-greek_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fira-sans-v9-greek_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fira-sans-v9-greek_latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fira-sans-v9-greek_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fira-sans-v9-greek_latin-600.svg#FiraSans') format('svg'); /* Legacy iOS */
}
/* fira-sans-900 - greek_latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/fira-sans-v9-greek_latin-900.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Black'), local('FiraSans-Black'),
       url('../fonts/fira-sans-v9-greek_latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fira-sans-v9-greek_latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fira-sans-v9-greek_latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fira-sans-v9-greek_latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fira-sans-v9-greek_latin-900.svg#FiraSans') format('svg'); /* Legacy iOS */
}

body {
  color:#011f4b;
  font-family:'Fira Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

/* nprogress */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* This file is for your main application css. */
/* LiveView specific classes for your customizations */
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem; }

.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  display: none; }

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out; }

.phx-disconnected {
  cursor: wait; }

.phx-disconnected * {
  pointer-events: none; }

.phx-modal {
  opacity: 1 !important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; }

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

.container {
  padding-top: 5rem;
}