<div>
  <%= if live_flash(@flash, :info) do %>
    <div class="alert alert-info" role="alert">
      phx-click="lv:clear-flash"
      phx-value-key="info"><%= live_flash(@flash, :info) %></div>
  <% end %>

  <%= if live_flash(@flash, :error) do %>
    <div class="alert alert-danger" role="alert"
      phx-click="lv:clear-flash"
      phx-value-key="error"><%= live_flash(@flash, :error) %></div>
  <% end %>

  <%= @inner_content %>
</div>