<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>P·H·X·C·R·D</title>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Hello", suffix: " · Phoenix Framework" %>

    <link rel="stylesheet" href='<%= Routes.static_path(@conn, "/css/select2.min.css") %>' />
    <link rel="stylesheet" href='<%= Routes.static_path(@conn, "/css/nprogress.css") %>' />

    <link phx-track-static href="<%= Routes.static_path(@conn, "/bootstrap/css/bootstrap.min.css") %>" rel="stylesheet">
    <link phx-track-static href="<%= Routes.static_path(@conn, "/bootstrap/css/bootstrap-utilities.min.css") %>" rel="stylesheet">

    <link rel="stylesheet" href='<%= Routes.static_path(@conn, "/css/main.css") %>' />
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css' />
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/bootstrap/js/bootstrap.bundle.min.js") %>"></script>
    <script defer type="text/javascript" src='<%= Routes.static_path(@conn, "/js/app.js") %>'></script>
    <%= render_existing view_module(@conn), "extra_style.html", assigns %>

    <style>

    </style>

    <%= tag :meta, name: "channel_token", content: Phoenix.Token.sign(@conn, "user salt", %{
      user_id: @user_id,
      username: @username,
      authority_id: @authority_id,
      authority_name: @authority_name,
      perms: @perms,
    }) %>

  </head>

<body>

<%= get_nav(assigns) %>

<main class="container">
  <%= @inner_content %>
</main><!-- /.container -->


  <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/jquery-3.4.1.min.js") %>'></script>
  <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'>

  <link phx-track-static href="<%= Routes.static_path(@conn, "/bootstrap/css/bootstrap.min.css") %>" rel="stylesheet">
  <link phx-track-static href="<%= Routes.static_path(@conn, "/bootstrap/css/bootstrap-utilities.min.css") %>" rel="stylesheet">

  <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/bootstrap/js/bootstrap.bundle.min.js") %>"></script>
  <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/select2.min.js") %>'></script>
  <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/phoenix.js") %>'></script>
  <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/main.js") %>'></script>
  <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/phoenix_live_view.js") %>'></script>
  <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/nprogress.js") %>'></script>

  <%= render_existing view_module(@conn), "extra_scripts.html", assigns %>

  <script>
    $(function() {
    });
  </script>

</body>

</html>
