<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>P·H·X·C·R·D</title>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Hello", suffix: " · Phoenix Framework" %>


    <link rel="stylesheet" href='<%= Routes.static_path(@conn, "/css/normalize.css") %>' />
    <!--
    <link rel="stylesheet" href='<%= Routes.static_path(@conn, "/css/milligram.min.css") %>' />
    <link rel="stylesheet" href='<%= Routes.static_path(@conn, "/css/phoenix.css") %>' />
    -->

    <link rel="stylesheet" href='<%= Routes.static_path(@conn, "/css/select2.min.css") %>' />
    <link rel="stylesheet" href='<%= Routes.static_path(@conn, "/css/nprogress.css") %>' />

    <link rel="stylesheet" type="text/css" href='<%= Routes.static_path(@conn, "/css/patternfly.min.css") %>'>
    <link rel="stylesheet" type="text/css" href='<%= Routes.static_path(@conn, "/css/patternfly-addons.css") %>'>

    <link rel="stylesheet" href='<%= Routes.static_path(@conn, "/css/main.css") %>' />
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css' />


    <script defer type="text/javascript" src='<%= Routes.static_path(@conn, "/js/app.js") %>'></script>
    <style>

    </style>

  <%= tag :meta, name: "channel_token", content: Phoenix.Token.sign(@conn, "user salt", %{
    user_id: @user_id,
    username: @username,
    authority_id: @authority_id,
    authority_name: @authority_name,
    perms: @perms,
  }) %>

  </head>

<body>

<div class="pf-c-page">
  <header class="pf-c-page__header">
    <div class="pf-c-page__header-brand">
      <div class="pf-c-page__header-brand-toggle">
        <button class="pf-c-button pf-m-plain" type="button" id="burger-button" aria-label="Global navigation" aria-expanded="true" aria-controls="page-default-nav-example-primary-nav">
          <i class="fas fa-bars" aria-hidden="true"></i>
        </button>
      </div>
      <a href='/' class="pf-c-page__header-brand-link"><h3>P·H·X·C·R·D</h3></a>
    </div>
    <%= get_header_tools(assigns) %>
  </header>


  <div class="pf-c-page__sidebar" id='burger-menu' hidden>
    <div class="pf-c-page__sidebar-body">
      <nav class="pf-c-nav" aria-label="Global">
        <section class="pf-c-nav__section" aria-labelledby="grouped-title1">
          <%= if @perms |> Enum.any?(&(&1 == "superuser" || &1 == "admin")) do %>
            <h2 class="pf-c-nav__section-title" id="grouped-title1"><%= gettext "Administration" %></h2>
            <ul class="pf-c-nav__list">
              <li class="pf-c-nav__item">
                <%= link gettext("Authorities"),
                        to: AdminRoutes.authority_path(@conn, :index),
                        class: "pf-c-nav__link",
                        title: gettext "Authorities"
                  %>
              </li>
              <%= if @perms |> Enum.any?(&( &1 == "superuser")) do %>
                <li class="pf-c-nav__item">
                  <%= link gettext("Users"),
                                to: AdminRoutes.user_path(@conn, :index),
                                class: "pf-c-nav__link",
                                title: gettext "Users"
                          %>
                </li>
                <li class="pf-c-nav__item">
                  <%= link gettext("Permissions"),
                                to: AdminRoutes.permission_path(@conn, :index),
                                class: "pf-c-nav__link",
                                title: gettext "Permissions"
                          %>
                </li>
                <li class="pf-c-nav__item">
                  <%= link gettext("Versions"),
                                to: AdminRoutes.version_path(@conn, :index),
                                class: "pf-c-nav__link",
                                title: gettext "Versions"
                          %>
                </li>
              <% end %>
            </ul>
          </section>
        <% end %>
      </nav>
    </div>
  </div>

  <main class="pf-c-page__main" tabindex="-1" id="main-content-page-layout-horizontal-nav">

    <section class="pf-c-page__main-section">
      <%= @inner_content %>
    </section>
    <footer class="footer">
      <section class="container">
        Copyright © 2019-20 &lt;Serafeim Papastefanos&gt;
        <%= if Application.get_env(:phxcrd, :env) != :prod do %>
        <span style='padding: 8px; font-weight:900; color: red; background-color:#661111'>
          WARNING: TEST VERSION (<%= Application.get_env(:phxcrd, :env) %>)
        </span>
        <% end %>
      </section>
    </footer>
  </main>


</div> <!-- page -->

  <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/jquery-3.4.1.min.js") %>'></script>
  <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/js/patternfly.min.js"></script>

  <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/select2.min.js") %>'></script>

  <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/phoenix.js") %>'></script>

  <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/main.js") %>'></script>

  <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/phoenix_live_view.js") %>'></script>
  <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/nprogress.js") %>'></script>

  <%= render_existing view_module(@conn), "extra_scripts.html", assigns %>

  <script>
    $(function() {

      $('body').click(function(e) {
          if (!document.getElementById('kebab-container').contains(e.target)) {
            $('#kebab-menu').hide()
          }

          if (!document.getElementById('burger-button').contains(e.target) && !document.getElementById('burger-menu').contains(e.target)  ) {
            $('#burger-menu').hide()
          }
      });

      $('#kebab-button').click(function() {
        $('#kebab-menu').show()
      })

      $('#burger-button').click(function() {
        console.log("B")
        $('#burger-menu').show()
      })

      $("#scroll-left").click(function () {
        var leftPos = $('.pf-c-nav__list').scrollLeft();
        console.log("L")
        $(".pf-c-nav__list").animate({scrollLeft: leftPos - 200}, 300);
      });

      $("#scroll-right").click(function () {
        var leftPos = $('.pf-c-nav__list').scrollLeft();
        console.log("R")
        $(".pf-c-nav__list").animate({scrollLeft: leftPos + 200}, 300);
      });

      $('#logout-button').click(function() {
        console.log("Z")
        $('#logout-form').submit()
      })
    });
  </script>

</body>

</html>
