<%= title gettext("New authority") %>


<%= _form(Map.put(assigns, :action, AdminRoutes.authority_path(@conn, :update, @authority))) %>


<%= link gettext("Return"), to: AdminRoutes.authority_path(@conn, :index), class: "btn button btn-secondary" %>
