<h1>Edit Authority</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.authority_path(@conn, :update, @authority)) %>

<span><%= link "Επιστροφή", to: Routes.authority_path(@conn, :index), class: "button button-secondary" %></span>