<%= title gettext("New authority") %>

<%= render "form.html", Map.put(assigns, :action, AdminRoutes.authority_path(@conn, :create)) %>
<%= link gettext("Return"), to: AdminRoutes.authority_path(@conn, :index), class: "btn btn-secondary" %>
