<h1><%= gettext("New authority") %></h1>

<%= render "form.html", Map.put(assigns, :action, AdminRoutes.authority_path(@conn, :create)) %>

<span><%= link gettext("Return"), to: AdminRoutes.authority_path(@conn, :index), class: "button button-secondary" %></span>