<h1>Edit Permission</h1>

<%= render "form.html", Map.put(assigns, :action, AdminRoutes.permission_path(@conn, :update, @permission)) %>

<span><%= link "Back", to: AdminRoutes.permission_path(@conn, :index), class: "button button-secondary" %></span>