<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= get_form_text_field f, :name, gettext("Name") %>
  <%= get_form_text_field f, :verbose_name, gettext("Verbose name") %>

  <div>
    <%= submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
