<h1>New Permission</h1>

<%= render "form.html", Map.put(assigns, :action, AdminRoutes.permission_path(@conn, :create)) %>

<span><%= link "Back", to: AdminRoutes.permission_path(@conn, :index), class: "button button-secondary" %></span>