<h1>Show Permission</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @permission.name %>
  </li>

  <li>
    <strong>Verbose name:</strong>
    <%= @permission.verbose_name %>
  </li>

</ul>

<span><%= link "Edit", to: AdminRoutes.permission_path(@conn, :edit, @permission), class: "button button-primary" %></span>
<span><%= link "Back", to: AdminRoutes.permission_path(@conn, :index), class: "button button-secondary" %></span>