<h1>Edit User</h1>


<%= _form(Map.put(assigns, :action, AdminRoutes.user_path(@conn, :update, @user))) %>


<span><%= link "Back", to: AdminRoutes.user_path(@conn, :index), class: "btn btn-secondary" %></span>
