<%= title gettext "New User" %>

<%= _form(Map.put(assigns, :action, AdminRoutes.user_path(@conn, :create))) %>

<span><%= link "Back", to: AdminRoutes.user_path(@conn, :index), class: "btn btn-secondary" %></span>
